.legendContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    color: var(--color-primary);
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    z-index: 1001;
    
}

@media only screen and (max-width: 932px) {
    .legendContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        color: var(--color-primary);
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.34px;
        text-align: left;
    }
}

.food {
    width: 1.625rem;
    height: 8px;
    background: #A000FF;
}

.entertainment {
    width: 1.625rem;
    height: 8px;
    background: #FF9304;
}

.travel {
    width: 1.625rem;
    height: 8px;
    background: #FDE006;
}

.chartLegend {
    position: static !important;
    font-weight: bold;
    font-family: cursive;
}

.piechart {
    width: 22.21rem;
    height: 11.3125rem;
}