.wrapper {
    height: 100vh;
    padding: 12px 20px 0px 20px;
}

.etHeading {
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 700;
    line-height: 36.77px;
    text-align: left;
    color: white;
}

.main {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
}

@media only screen and (max-width: 1226px) {
    .main {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 2rem;
    }
}
@media only screen and (max-width: 1115px) {
    .main {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 2rem;
    }
}

.heroWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 773px */
@media only screen and (max-width: 773px) {
.transactions {
    width: 100%;
}
.topExpenses {
    width: 100%;
}
}

.transactions h4:first-of-type {
    font-family: Ubuntu;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    line-height: 32.17px;
    color: var(--color-primary);
    margin-bottom: 8px;
}

.topExpenses h4:first-of-type {
    font-family: Ubuntu;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    line-height: 32.17px;
    color: var(--color-primary);
    margin-bottom: 8px;
}

footer {
    height: 8vh;
}